@model IEnumerable<NotebookStoreMVC.Models.StorageViewModel>

@{
	ViewData["Title"] = "Index";
}

<header class="d-flex justify-content-between align-items-center">
	<h1>Storages</h1>
	<a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</header>
<div class="container">
	<div class="border-bottom fs-6 justify-content-between text-gray-500 text-start py-3 d-flex flex-nowrap">
		<div class="col-3 px-3 text-break">@Html.DisplayNameFor(model => model.Capacity)</div>
		<div class="col-3 px-3 text-break">@Html.DisplayNameFor(model => model.Type)</div>
		<div class="col-6"></div>
	</div>
	@foreach (var item in Model)
	{
		<div class="d-flex justify-content-between w-100 align-items-center py-2 flex-nowrap">
			<div class="d-flex col-3 px-3 text-break">@item.Capacity</div>
			<div class="d-flex col-3 px-3 text-break">@item.Type</div>
			<div class="d-flex col-6 column-gap-2 justify-content-end">
				<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
				@if (item.CanUpdateAndDelete)
				{
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success">
						Edit
					</a>
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
						Delete
					</a>
				}
				else
				{
					<span class="btn btn-sm btn-outline-success disabled"
						title="You can't edit this because it was created by someone else"
						style="pointer-events: auto; cursor: not-allowed;">
						Edit
					</span>
					<span class="btn btn-sm btn-outline-danger disabled"
						title="You can't delete this because it was created by someone else"
						style="pointer-events: auto; cursor: not-allowed;">
						Delete
					</span>
				}
			</div>
		</div>
	}
</div>
