@model NotebookStoreMVC.Models.NotebookViewModel

@{
    ViewData["Title"] = "Details";
}

<header class="d-flex flex-column align-items-start">
    <a asp-action="Index" class="mb-4 text-decoration-none text-black">
        <svg id="icon-arrow_back_ios" viewBox="0 0 24 24" width="24" height="24">
            <path d="M11.672 3.891l-8.109 8.109 8.109 8.109-1.781 1.781-9.891-9.891 9.891-9.891z"></path>
        </svg>
        Back to List
    </a>
    <div class="d-flex justify-content-between align-items-center w-100">
        <h1 class="display-4 fs-3 mb-4">Notebook Details</h1>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edit</a>
    </div>
</header>
<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Color)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Color)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Price)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Brand)
		</dt>
		<dd class="col-sm-10">
			@if (Model?.Brand != null)
			{
				@Model.Brand.Name
			}
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Model)
		</dt>
		<dd class="col-sm-10">
			@if (Model?.Model != null)
			{
				@Model.Model.Name
			}
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Cpu)
		</dt>
		<dd class="col-sm-10">
			@if (Model?.Cpu != null)
			{
				@Model.Cpu.Brand @(" ") @Model.Cpu.Model
			}
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Display)
		</dt>
		<dd class="col-sm-10">
			@if (Model?.Display != null)
			{
				@Model.Display.Size @("\" ") @Model.Display.ResolutionWidth @("x") @Model.Display.ResolutionHeight @(" ")
				@Model.Display.PanelType
			}
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Memory)
		</dt>
		<dd class="col-sm-10">
			@if (Model?.Memory != null)
			{
				@Model.Memory.Capacity @(" Gb ") @Model.Memory.Speed @(" Mhz ")
			}
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Storage)
		</dt>
		<dd class="col-sm-10">
			@if (Model?.Storage != null)
			{
				@Model.Storage.Capacity @(" Gb ") @Model.Storage.Type
			}
		</dd>
	</dl>
</div>
