@model IEnumerable<NotebookStoreMVC.Models.NotebookViewModel>

@{
	ViewData["Title"] = "Index";
}

<header class="d-flex justify-content-between align-items-center">
	<h1>Notebooks</h1>
	@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
	{
		<a asp-action="Create" class="btn btn-outline-primary">Create New</a>
	}
</header>
<div class="container">
	<div class="border-bottom fs-6 justify-content-between text-gray-500 text-start py-3 d-flex flex-nowrap">
		<div class="col-1 px-3 text-break">@Html.DisplayNameFor(model => model.Color)</div>
		<div class="col-1 px-3 text-break">@Html.DisplayNameFor(model => model.Price)</div>
		<div class="col-1 px-3 text-break">@Html.DisplayNameFor(model => model.Brand)</div>
		<div class="col-1 px-3 text-break">@Html.DisplayNameFor(model => model.Model)</div>
		<div class="col-1 px-3 text-break">@Html.DisplayNameFor(model => model.Cpu)</div>
		<div class="col-2 px-3 text-break">@Html.DisplayNameFor(model => model.Display)</div>
		<div class="col-1 px-3 text-break">@Html.DisplayNameFor(model => model.Memory)</div>
		<div class="col-1 px-3 text-break">@Html.DisplayNameFor(model => model.Storage)</div>
		<div class="col-2"></div>
	</div>
	@foreach (var item in Model)
	{
		<div class="d-flex justify-content-between w-100 align-items-center py-2 flex-nowrap">
			<div class="d-flex col-1 px-3 text-break">@item.Color</div>
			<div class="d-flex col-1 px-3 text-break">@(item.Price + "€")</div>
			<div class="d-flex col-1 px-3 text-break">@item.Brand?.Name</div>
			<div class="d-flex col-1 px-3 text-break">@item.Model?.Name</div>
			<div class="d-flex col-1 px-3 text-break">@item.Cpu?.Brand @item.Cpu?.Model</div>
			<div class="d-flex col-2 px-3 text-break">@(item.Display?.Size + "\"") @(item.Display?.ResolutionWidth + "x" +
			item.Display?.ResolutionHeight)
				@item.Display?.PanelType</div>
			<div class="d-flex col-1 px-3 text-break">@(item.Memory?.Capacity + "GB") @(item.Memory?.Speed + "MHz")</div>
			<div class="d-flex col-1 px-3 text-break">@(item.Storage?.Capacity + "GB") @item.Storage?.Type</div>
			@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
			{
				<div class="d-flex col-2 column-gap-2 justify-content-end">
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
					@if (item.CanUpdateAndDelete)
					{
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
					}
					else
					{
						<span class="btn btn-sm btn-outline-success disabled"
							title="You can't edit this because it was created by someone else"
							style="pointer-events: auto; cursor: not-allowed;">Edit</span>
						<span class="btn btn-sm btn-outline-danger disabled"
							title="You can't delete this because it was created by someone else"
							style="pointer-events: auto; cursor: not-allowed;">Delete</span>
					}
				</div>
			}
			else
			{
				<div class="d-flex col-2 column-gap-2 justify-content-end"></div>
			}
		</div>
	}
</div>
